{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Apport Nature</title>
		<link rel="stylesheet" type="text/css" href= "{% static 'LegalCode/style.css' %}" />
  </head>
  	<body>
      <nav class= "navigation">
      <div class="menu-nav-container" id="body">
        <ul id="menu-nav" class="menu">
          <li id="menu-item-1" class="menu-item">
            <a href=""droit des sociétés>"Droit des sociétés"
            </a>
            <ul class="sub-menu">
                <li id="menu-item-1-1" class="menu-item">
                  <a title="Apport en nature" href="">Apport en nature</a>
                </li>
                <li id="menu-item-1-2" class="menu-item">
                  <a title="Cession de parts" href="">Cession de parts</a>
                </li>
            </ul> 
            <li id="menu-item-2" class="menu-item">
              <a href=""droit des sociétés>"Droit de la santé"
              </a> 
            </li>
      </div>
      <div class ="container" id = "SocieteBeneficiaireForm">
      <form action="" method="post">
        {% csrf_token %}
        <h3>Société Source</h3>
          {{SocieteSourceForm.as_p}}
        <h3>Société Bénéficiaire</h3>
          {{SocieteBeneficiaireForm.as_p}}
          {% for form in associe_formset %}
            <h3>Associé {{forloop.counter}}</h3>
            {{form.as_p}}
          {% endfor %}
          {% if ANF_obj.RapportduPresident or ANF_obj.DecisionAssocieApport or ANF_obj.DecisionAssocieDesignationCommissaire %}
          <h3>Commissaire aux comptes</h3>
          {{CommissaireComptesForm.as_p}}
        {% endif %}
        {% if ANF_obj.ContratApportNature or ANF_obj.RapportduPresident or ANF_obj.DecisionAssocieApport %}
          <h3>Caractéristiques apportSociété Source</h3>
          {{CaractApportForm.as_p}}
        {% endif %}
    <input type="submit" value="Submit" />
    </form>
  </div>
  </body>
</html>